<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
    <p>{{ lobby.time_to_move }}</p>
        <img src="{{ user1.photo.url }}" alt="photo" width="400" height="300">
        <h1>{{ user.password }}</h1>
    <p>{{ lobby.created_in }}</p>
    </div>
    <br>
    <button onclick="createLobby('test', 100)">create me</button>
    <button onclick="testButton(1)">click me</button>
    <p>{{ time }}</p>
<script>
    const ws = new WebSocket('ws://' + window.location.host + '/ws/lobby/1/');

    ws.onopen = function(e) {
        console.log(ws);
    };

    ws.onmessage = function(e) {
        console.log(e);
    };

    function createLobby(name, bet) {
        ws.send(JSON.stringify({
            action: "create_lobby",
            request_id: 1,
            name: name,
            bet: bet,
        }));
    };

    function testButton(integer) {
        ws.send(JSON.stringify({
            action: "async_cons",
            request_id: 2,
            lobby_id: integer,
        }));
    };

</script>

</body>
</html>